<div id="recommendation_{{ recommendationId }}" class="ezrecommendation">
    {{ 'Loading recommended items...'|trans }}
</div>

<script id="recommendation_template_{{ recommendationId }}" type="text/x-handlebars-template">
    {{ template|raw }}
</script>

<script>
    (function() {
        var recoClient_{{ recommendationId }} = new EzRecoRestClient({
            scenarioId: '{{ scenarioId }}',
            locationId: '{{ locationId }}',
            limit: '{{ limit }}',
            restUrl: '/recommendations/fetch' // TODO: dynamically replace with path from routing.yml
        });

        var recoTemplateRenderer_{{ recommendationId }} = new EzRecoTemplateRenderer({
            msgError: '{{ 'An error occurred while loading the recommendations'|trans }}',
            msgEmpty: '{{ 'No recommendations found'|trans }}'
        });

        recoClient_{{ recommendationId }}.fetchRecommendations(
            recoTemplateRenderer_{{ recommendationId }}.display.bind(
                recoTemplateRenderer_{{ recommendationId }}
            ),
            'recommendation_{{ recommendationId }}',
            'recommendation_template_{{ recommendationId }}'
        );
    }) ();
</script>
