<div id="recommendation-{{ recommendationId }}" class="ez-recommendation">
    {{ 'Loading recommended items...'|trans }}
</div>

<script id="recommendation-template-{{ recommendationId }}" type="text/x-handlebars-template">
    {{ template|raw }}
</script>

<script>
    (function() {
        var recoClient{{ recommendationId }} = new EzRecoRestClient({
            scenarioId: '{{ scenarioId }}',
            locationId: '{{ locationId }}',
            limit: '{{ limit }}',
            restUrl: '/recommendations/fetch'
        });

        var recoTemplateRenderer{{ recommendationId }} = new EzRecoTemplateRenderer({
            msgError: '{{ 'An error occurred while loading the recommendations'|trans }}',
            msgEmpty: '{{ 'No recommendations found'|trans }}'
        });

        recoClient{{ recommendationId }}.fetchRecommendations(
            recoTemplateRenderer{{ recommendationId }}.display.bind(
                recoTemplateRenderer{{ recommendationId }}
            ),
            'recommendation-{{ recommendationId }}',
            'recommendation-template-{{ recommendationId }}'
        );
    }) ();
</script>
