{#  Here you can customise recommendation list template. Please, follow this link:
    https://doc.ez.no/display/DOCTEST/Customer+Attribute+Mappings to see the list of default field names. #}

<script id="recommendations-template-{{ templateId }}" type="text/x-handlebars-template">
    {% verbatim %}
        <div class="content-view-line">
            {{#each this}}
                <article class="class-article">
                    <div class="col-md-2">
                        <div class="attribute-image">
                            <a href="{{attr.uri}}" onclick="return eZ.RecommendationRestClient.ping('{{clickRecommended}}')">
                                <img src="{{attr.image}}" alt="{{attr.title}}" title="{{attr.title}}" height="62" width="170" />
                            </a>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="attribute-header">
                            <h2>
                                <a href="{{attr.uri}}" class="teaser-link" onclick="return eZ.RecommendationRestClient.ping('{{clickRecommended}}')">{{attr.title}}</a>
                            </h2>
                        </div>

                        <div class="attribute-short">
                            <p>{{{attr.intro}}}</p>
                        </div>
                    </div>
                </article>
            {{else}}
                <div class="content-view-line">{% endverbatim %}{{ 'No recommendations found'|trans }}{% verbatim %}</div>
            {{/each}}
        </div>
    {% endverbatim %}
</script>

<div id="recommendations-target-{{ templateId }}"></div>

{% include 'EzSystemsRecommendationBundle::show_recommendations.html.twig' with {
    'templateId': templateId,
    'scenario': scenario,
    'limit': limit,
    'contentType': contentType,
    'contentId': contentId,
    'filters': filters
} %}
